<div class="container" style="padding: 5%">
<div class="row">
    <div class="col" style="text-align: center">
      <h1>
        OIL QUALITY & OXIDATION LEVEL
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="text-align: center">
      <img [src]="'favicon.ico'" alt="Girl in a jacket" width="150">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="text-align: center">
      <input #fileInput type="file" style="display: none" (change)="onFileChange($event)"/>
      <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
        <mat-icon>attach_file</mat-icon>
        LOAD FILE
      </button>
    </div>
  </div>
  <!--
  <div class="row" *ngIf="willDownload">
    <div class="col" style="text-align: center">
      <pre>{{outputJson | json}}</pre>
    </div>
  </div>
  -->
  <!-- <div [innerHTML]="outputJson"></div>-->
  <br>

  <div class="row" *ngIf="willDownload">
    <div class="col" style="text-align: center">
      <button mat-raised-button color="accent" class="file-select-button" (click)="onClickFileInputButton()">
        <mat-icon>file_download</mat-icon>
        Download JSON File
      </button>
      <a id="download"> </a>
    </div>
  </div>

  <br>
  <br>

  <div class="row" *ngIf="willDownload">
    <div class="col" style="text-align: center">
      <h2> RESULT </h2>
      <p>
        <strong>Oil rating: </strong> {{oilResult.rating}}
        <br>
        <strong>Probability: </strong> {{oilResult.probability}} %
      </p>
    </div>
  </div>
</div>

<div class="my-overlay" *ngIf="loading">
  <div class="row" style="display: flex; justify-content: center;">
    <div class="col" >
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
